.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    fieldset {
        border: none;
    }

    .login-card {
        max-width: 400px;
        img {
            padding: 64px;
    
        }
    
        .login-field {
            width: 100%;

            .mat-icon {
                color: #2d3e50b5
            }
        }
    
        .mat-mdc-card-actions {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        
    }
}

.login-socials {
    display: flex;
    margin-top: 20px;
    .login-google {
        .mat-icon {
            width: 24px;
            height: 24px;
            line-height: 24px;
        }
    }
}
