.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-card {
    max-width: 400px;
    img {
        border-radius: 50%;
        padding: 64px;

    }

    .login-field {
        width: 100%;
    }

    .mat-card-actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

.login-socials {
    display: flex;
    margin-top: 20px;
    .login-google {
        .mat-icon {
            width: 24px;
            height: 24px;
        }
    }
}
