<div class="sensors-view" *ngIf="!editing && !adding">
    <div class="heading"><p>Edit Sensors</p></div>
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="sensor-view-filters" *ngIf="!loading">
        <div *ngIf="locations.length > 1">
            <mat-form-field appearance="fill">
                <mat-label>Filter By Location</mat-label>
                <mat-select [(value)]="selectedLocationFilters" (selectionChange)="filter()" multiple>
                    <mat-option *ngFor="let location of locations" [value]="location.id">
                        {{ location.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="sensor-view-actions">
            <button mat-raised-button color="primary" (click)="add()"><mat-icon>add</mat-icon> Add Sensor</button>
        </div>
    </div>
    <div class="sensors-list" *ngIf="!loading">
        <table mat-table matSort [dataSource]="filteredSensors" class="mat-elevation-z8" (matSortChange)="filter($event)">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="name" sortActionDescription="Sort by name"> Name </th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="sensorType" sortActionDescription="Sort by type"> Type </th>
                <td mat-cell *matCellDef="let element">{{element.sensorType}}</td>
            </ng-container>
        
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="locationName" sortActionDescription="Sort by location"> Location </th>
                <td mat-cell *matCellDef="let element">{{ _.isNil(element.location) ? getLocationName(element) : element.location.name }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="actions">
                        <button mat-icon-button color="primary" aria-label="Edit sensor" (click)="edit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" aria-label="Delete sensor" (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div> 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div class="sensors-modify" *ngIf="editing || adding">
    <div class="heading"><p> {{ adding ? "Add" : "Edit" }} Sensor</p></div>
    <div class="modify-form">
        <form [formGroup]="modifyFormGroup">
            <fieldset>
                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_name_input"
                        class="dp-textfield--input"
                        formControlName="name"
                        [(ngModel)]="modifySensor.editValues.name"
                        matInput
                        required />
                    <mat-label>Name</mat-label>
                </mat-form-field>

                <mat-form-field appearance="fill" [hidden]="locations.length <= 1">
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="locationId" name="locationId" [(ngModel)]="modifySensor.editValues.locationId">
                        <mat-option *ngFor="let location of locations" [value]="location.id">
                        {{location.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="sensorType" name="sensorType" [(ngModel)]="modifySensor.editValues.sensorType" (selectionChange)="addMissingMeta()">
                        <mat-option *ngFor="let t of sensorTypes" [value]="t">
                        {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field" *ngIf="modifySensor.editValues.sensorType === 'plaato-keg'">
                    <input id="modify_meta_plaato_keg_auth_token_input"
                        class="dp-textfield--input"
                        formControlName = "metaAuthToken"
                        [(ngModel)]="modifySensor.editValues.meta.authToken"
                        matInput
                        required />
                    <mat-label>Plaato Keg Auth Token</mat-label>
                </mat-form-field>
            </fieldset>
        </form>
    </div>
    
    <div class="modify-actions" *ngIf="adding">
        <button mat-raised-button color="primary" (click)="create()" [disabled]="!modifyFormGroup.valid || processing"><mat-icon>save</mat-icon> Create</button>
        <button mat-raised-button color="warn" (click)="cancelAdd()"><mat-icon>cancel</mat-icon> Cancel</button>
    </div>
    <div class="modify-actions" *ngIf="editing">
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!modifySensor.hasChanges || !modifyFormGroup.valid || processing"><mat-icon>save</mat-icon> Save</button>
        <button mat-raised-button color="warn" (click)="cancelEdit()"><mat-icon>cancel</mat-icon> Cancel</button>
    </div>
</div>