.view-profile {
    display: flex;
    flex-direction: column;

    .profile-details {
        order: 3;
    }

    .profile-pic {
        order: 2;

        img {
            max-width: 200px;
            height: auto;
        }
    }

    .profile-actions {
        order: 4;
    }
}

.edit-profile {
    display: flex;
    flex-direction: column;

    .heading {
        order: 1;
    }

    .edit-form {
        order: 2;
    }

    .profile-actions {
        order: 3;
    }
}

.change-password {
    display: flex;
    flex-direction: column;

    .heading {
        order: 1;
    }

    .change-password-form {
        order: 2;
    }

    .profile-actions {
        order: 3;
    }
}

.edit-profile fieldset, 
.change-password fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    width: 400px;
}

.profile-actions {
    button {
        margin: 2px 6px
    }
}