div.tap-list {
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.tap-volume {
    order: 1;
    display: inline-block;
    vertical-align: top;
    width: 106px;
    min-width: 106px !important;
}

div.tap-image {
    order: 1;
    display: inline-block;
    vertical-align: top;
    min-width: 106px !important;
}

.tap-count-1,
.tap-count-2 {
    .tap-card {
        min-height: 240px;
    }

    div.tap-volume {
        height: 212px;
        width: 200px
    }

    div.tap-logo,
    div.tap-image {
        img {
            width: auto;
            max-height: 200px;
        }
    }

    .tap-gauge {
        height: 200px;
        width: 200px;
    }

    div.tap-details p {
        line-height: 1.6em;
        font-size: 140%;
    }

    div.tap-details p.title {
        font-size: 180%;
    }
}

.tap-count-3 {
    .tap-card {
        min-height: 180px;
    }
    div.tap-volume {
        height: 159px;
        width: 150px
    }
    div.tap-logo,
    div.tap-image {
        img {
            width: auto;
            max-height: 150px;
        }
    }
    .tap-gauge {
        height: 150px;
        width: 150px;
    }

    div.tap-details p {
        line-height: 1.4em;
        font-size: 120%;
    }

    div.tap-details p.title {
        font-size: 160%;
    }
}

.tap-count-4plus {
    .tap-card {
        min-height: 120px;
    }
    div.tap-volume {
        height: 106px;
        width: 100px
    }
    div.tap-logo,
    div.tap-image {
        img {
            width: auto;
            max-height: 100px;
        }
    }
    .tap-gauge {
        height: 100px;
        width: 100px;
    }

    div.tap-details p {
        line-height: 1.2em;
    }

    div.tap-details p.title {
        font-size: 120%;
    }
}

.tap-display {
    display: flex;
    flex-direction: row;
}

.tap-display-empty{
    padding-bottom: 12px;
}

div.tap-details {
    order: 2;
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;
}

div.tap-details p {
    margin: 6px 0px;
}

div.tap-details p.title {
    font-weight: bold;
}

div.tap-logo {
    order: 4;
}

div.tap-logo-cold-brew {
    order: 3 !important;
    margin-left: auto;
    margin-right: 12px;
}

div.tap-logo,
div.tap-image {
    img {
        width: auto;
    }
}

div.tap-logo img {
    cursor: pointer;
}

.tap-gauge {
    display: block;
    border-radius: 3px;
    background-size: contain;
}

.tap-gauge-beer {
    background-image: url("/assets/img/generic_beer_gauge.png");
}

.tap-gauge-cold-brew {
    background-image: url("/assets/img/generic_cold_brew_guage.png");
}

.tap-qrcode {
    order: 3;
    margin-left: auto;
    margin-right: 12px;
}

.tap-qrcode-container {
    display: flex;
    flex-direction: column;

    border: none;
    padding: 0px;

    .tap-qrcode-header {
        order: 1;
        font-size: 12px;
        text-align: center;
        padding-bottom: 4px;
    }

    .tap-qrcode-content {
        order: 2;
        align-content: center;

        a {
            cursor: pointer;
        }
    }
}

.footer {
    display: none !important;
}

.fab-container {
    position:fixed;
    bottom:24px;
    right:24px;
    cursor:pointer;
    z-index: 1000;
}