<div class="fab-container" *ngIf="enableFullscreen">
    <button mat-icon-button (click)="goto('home')" *ngIf="!isFullscreen && showHomeBtn"><mat-icon>home</mat-icon></button>
    <button mat-icon-button (click)="toggleFullscreen()"><mat-icon>fullscreen{{ isFullscreen ? "_exit" : "" }}</mat-icon></button>
</div>
<div class="tap-list" *ngFor="let tap of taps">
    <mat-card class=tap-card>
        <mat-card-subtitle>Tap {{tap.tapNumber}}: {{ tap.description }}</mat-card-subtitle>
        <mat-card-content>
            <div *ngIf="tap.isEmpty">
                <div class="tap-display">
                    <div class="tap-image">
                        <img src="assets/img/empty_tap.png" />
                    </div>
                    <div class=tap-details>
                        <p class="title">Sorry, currently nothing assigned to the tap :(</p>
                        <p>Please check back often as we should have something tapped soon!</p>
                    </div>
                </div>
            </div>
            <div *ngIf="!tap.isEmpty">
                <div class="tap-display" *ngIf="!_.isNil(tap.beer) && tap.tapType === 'beer'">
                    <div class="tap-volume" *ngIf="!_.isNil(tap.sensor) && !_.isNaN(tap.sensor.percentBeerRemaining)">
                        <mwl-gauge
                            [max]="100"
                            [dialStartAngle]="-90"
                            [dialEndAngle]="-90.001"
                            [value]="getRemainingBeerValue(tap)"
                            [animated]="true"
                            [animationDuration]="1"
                            class="srm-{{getSrm(tap.beer)}}-gauge tap-gauge tap-gauge-beer">
                        </mwl-gauge>
                    </div>
                    <div class="tap-image" *ngIf="_.isNil(tap.sensor)">
                        <img src="assets/img/generic_beer.png" class="srm-{{getSrm(tap.beer)}}" />
                    </div>
                    <div class=tap-details>
                        <p class="title">{{ tap.getDisplayName(tap.beer.getName()) }}</p>
                        <p>Style: {{ tap.beer.getStyle() }}</p>
                        <p>{{ tap.beer.getAbv() }}% alc./vol.</p>
                        <p>IBU: {{ tap.beer.getIbu() }}</p>
                        <p *ngIf="tap.showTotalBeerRemaining">Total Remaining: {{_.round(tap.sensor.totalBeerRemaining, 2)}} {{tap.sensor.beerRemainingUnit}}</p>
                    </div>
                    <div class="tap-qrcode">
                        <div class="tap-qrcode-container" *ngIf="!isNilOrEmpty(tap.beer.untappdId)">
                            <div class="tap-qrcode-header">
                                Untappd
                            </div>
                            <div class="tap-qrcode-content">
                                <a (click)="openQRCodeDialog(getUntappdUrl(tap.beer))">
                                    <qrcode [qrdata]="getUntappdUrl(tap.beer)" [width]="76" [margin]="0"></qrcode>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tap-logo" *ngIf="!isNilOrEmpty(getImageUrl(tap))">
                        <a (click)="openImageDialog(getImageUrl(tap))">
                            <img src="{{getImageUrl(tap)}}" />
                        </a>
                    </div>
                </div>
                <div *ngIf="!_.isNil(tap.beverage) && tap.tapType === 'beverage'">
                    <div class="tap-display" *ngIf="!_.isNil(tap.coldBrew) && tap.beverage.type === 'cold-brew'">
                        <div class="tap-volume" *ngIf="!_.isNil(tap.sensor) && !_.isNaN(tap.sensor.percentBeerRemaining)">
                            <mwl-gauge
                                [max]="100"
                                [dialStartAngle]="-90"
                                [dialEndAngle]="-90.001"
                                [value]="getRemainingBeerValue(tap)"
                                [animated]="true"
                                [animationDuration]="1"
                                class="srm-40-gauge tap-gauge tap-gauge-cold-brew">
                            </mwl-gauge>
                        </div>
                        <div class="tap-image" *ngIf="_.isNil(tap.sensor)">
                            <img src="assets/img/generic_cold_brew.png" />
                        </div>
                        <div class=tap-details>
                            <p class="title">{{ tap.getDisplayName(tap.beverage.name) }}</p>
                            <p *ngIf="!isNilOrEmpty(tap.beverage.brewery) && isNilOrEmpty(tap.coldBrew.roastery)">Brewed and roasted by: {{ tap.beverage.brewery }}</p>
                            <p *ngIf="!isNilOrEmpty(tap.beverage.brewery) && !isNilOrEmpty(tap.coldBrew.roastery)">Brewed by: {{ tap.beverage.brewery }}</p>
                            <p *ngIf="!isNilOrEmpty(tap.coldBrew.roastery)">Roasted by: {{ tap.coldBrew.roastery }}</p>
                            <p *ngIf="!isNilOrEmpty(tap.beverage.flavor)">Flavor: {{ tap.beverage.flavor }}</p>
                            <p *ngIf="!isNilOrEmpty(tap.beverage.brewDate)">Brewed On: {{ tap.beverage.getBrewDateDisplay() }}</p>
                            <p *ngIf="!isNilOrEmpty(tap.beverage.kegDate)">Kegged On: {{ tap.beverage.getKegDateDisplay() }}</p>
                            <p *ngIf="tap.showTotalBeerRemaining">Total Remaining: {{_.round(tap.sensor.totalBeerRemaining, 2)}} {{tap.sensor.beerRemainingUnit}} ({{getRemainingBeerValue(tap)}}%)</p>
                        </div>
                        <div class="tap-logo tap-logo-cold-brew" *ngIf="!isNilOrEmpty(getImageUrl(tap))">
                            <a (click)="openImageDialog(getImageUrl(tap))">
                                <img src="{{ getImageUrl(tap) }}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="tap.isLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>

