<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>
    <mat-grid-list cols="4" rowHeight="2.5:3.5">
        <mat-grid-tile *ngFor="let image of images">
            <div class="image-list-item {{selectedImage === image ? 'image-list-item-selected' : ''}}" (click)="onClick(image)" (dblclick)="onDoubleClick(image)"><img src="{{image}}" /></div>
        </mat-grid-tile>
      </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="select()" [disabled]="isNilOrEmpty(selectedImage)">
    <mat-icon>save</mat-icon> Select
  </button>
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
</div>