<div class="beers-view" *ngIf="!editing && !adding && !editingBatch && !addingBatch">
    <div class="heading"><p>Edit Beers</p></div>
    <div class="taps-list-loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="beer-view-filters" *ngIf="!loading">
        <div *ngIf="locations.length > 1">
            <mat-form-field appearance="fill">
                <mat-label>Filter By Location</mat-label>
                <mat-select [(value)]="selectedLocationFilters" (selectionChange)="filter()" multiple>
                    <mat-option *ngFor="let location of locations" [value]="location.id">
                        {{ location.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="beer-view-actions">
            <button mat-raised-button color="primary" (click)="addBeer()"><mat-icon>add</mat-icon> Add Beer</button>
        </div>
    </div>
    <div class="beers-list" *ngIf="!loading">
        <table mat-table matSort [dataSource]="filteredBeers" class="mat-elevation-z8" (matSortChange)="filter($event)">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="name" sortActionDescription="Sort by name"> Name </th>
                <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.name) ? 'imported-value' : '' }}">{{element.getName()}}</span></td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="description" sortActionDescription="Sort by description"> Description </th>
                <td mat-cell *matCellDef="let element">
                    <span class="{{ isNilOrEmpty(element.description) ? 'imported-value' : '' }}">
                        {{ getDescriptionDisplay(element) }}
                        <span *ngIf="isDescriptionTooLong(element)">
                            <ng-template #popupDescription>
                                <p>{{ element.getDescription() }}</p>
                            </ng-template>
                            <span [ngbPopover]="popupDescription" popoverTitle="Description" triggers="mouseenter:mouseleave" placement="right"><mat-icon>info</mat-icon></span>
                        </span>
                    </span>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="locationName" sortActionDescription="Sort by location"> Location </th>
                <td mat-cell *matCellDef="let element">{{ _.isNil(element.location) ? '' : element.location.name}}</td>
            </ng-container> 

            <ng-container matColumnDef="batchCount">
                <th mat-header-cell *matHeaderCellDef> # batches </th>
                <td mat-cell *matCellDef="let element"><span>{{beerBatches[element.id].length}}</span></td>
            </ng-container>

            <ng-container matColumnDef="tapped">
                <th mat-header-cell *matHeaderCellDef> Tapped? </th>
                <td mat-cell *matCellDef="let element">
                    <span class="is-tapped" *ngIf="isBeerTapped(element)">
                        <ng-template #popupNameDetails>
                            <div class="associated-taps" *ngFor="let tap of beerAssocTaps(element)">
                                <p>Description: {{ tap.description }}</p>
                                <p>Tap Number: {{ tap.tapNumber }}</p>
                                <p>Location: {{ tap.location ? tap.location.description : "UNKNOWN" }}</p>
                            </div>
                        </ng-template>
                        <mat-icon [ngbPopover]="popupNameDetails" popoverTitle="Associated taps" triggers="mouseenter:mouseleave" placement="right">check</mat-icon>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="externalBrewingTool">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="externalBrewingTool" sortActionDescription="Sort by external brewing tool"> External Tool </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ _.isNil(element.externalBrewingTool) ? "" : element.externalBrewingTool }}
                        <span *ngIf="!_.isEmpty(_.get(element.externalBrewingToolMeta, 'details'))">
                            <ng-template #popupExternalBrewingToolMeta>
                                <div>
                                    <p><strong>Recipe ID</strong>: {{_.get(element.externalBrewingToolMeta, "recipeId")}}</p>
                                    <p *ngFor="let property of _.get(element.externalBrewingToolMeta, 'details') | keyvalue">
                                        <strong>{{property.key}}</strong>: {{property.value}}
                                    </p>
                                </div>
                            </ng-template>
                            <a href="{{ getBeerLink(element) }}" target="_blank" [ngbPopover]="popupExternalBrewingToolMeta" popoverTitle="External Tool Metadata" triggers="mouseenter:mouseleave" placement="right"><mat-icon>info</mat-icon></a>
                        </span>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="style">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="style" sortActionDescription="Sort by style"> style </th>
                <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.style) ? 'imported-value' : '' }}">{{element.getStyle()}}</span></td>
            </ng-container>
        
            <ng-container matColumnDef="abv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="abv" sortActionDescription="Sort by abv"> ABV </th>
                <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.abv) ? 'imported-value' : '' }}">{{element.getAbv()}}</span></td>
            </ng-container>
        
            <ng-container matColumnDef="ibu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="ibu" sortActionDescription="Sort by ibu"> IBU </th>
                <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.ibu) ? 'imported-value' : '' }}">{{element.getIbu()}}</span></td>
            </ng-container>
        
            <ng-container matColumnDef="srm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="srm" sortActionDescription="Sort by srm"> SRM </th>
                <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.srm) ? 'imported-value' : '' }}">{{element.getSrm()}}</span></td>
            </ng-container>
        
            <ng-container matColumnDef="untappdId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="untappdId" sortActionDescription="Sort by Untappd Id"> Untappd Id </th>
                <td mat-cell *matCellDef="let element"><span>{{element.untappdId}}</span></td>
            </ng-container>
        
            <ng-container matColumnDef="imgUrl">
                <th mat-header-cell *matHeaderCellDef> Image URL </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!_.isEmpty(element.getImgUrl())">
                        <ng-template #popupContent><div><img class="beer-image-preview" src="{{ element.getImgUrl() }}"/></div></ng-template>
                        <button mat-icon-button color="primary" [ngbPopover]="popupContent" popoverTitle="Image Preview" triggers="mouseenter:mouseleave" placement="left" (click)="openImagePreviewDialog(element.getImgUrl())">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="actions">
                        <button mat-icon-button color="primary" aria-label="Edit beer" (click)="editBeer(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" aria-label="Delete beer" (click)="deleteBeer(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div> 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div class="beers-modify" *ngIf="(editing || adding) && !(editingBatch || addingBatch)">
    <div class="heading"><p> {{ adding ? "Add" : "Edit" }} Beer</p></div>
    <div class="modify-form">
        <form [formGroup]="modifyBeerFormGroup">
            <fieldset>
                <mat-form-field appearance="fill">
                    <mat-label>External Brew Tool</mat-label>
                    <mat-select formControlName="externalBrewingTool" name="externalBrewingTool" [(ngModel)]="modifyBeer.editValues.externalBrewingTool" (selectionChange)="beerBrewToolChanges($event);">
                        <mat-option value="-1">-- None --</mat-option>
                        <mat-option *ngFor="let tool of externalBrewingTools" [value]="tool">
                        {{tool}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field" *ngIf="modifyBeer.editValues.externalBrewingTool === 'brewfather'">
                    <input id="modify_brewfather_batch_id_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="brewfatherRecipeId"
                        [(ngModel)]="modifyBeer.editValues.externalBrewingToolMeta.recipeId"
                        matInput />
                    <mat-label>Brewfather Recipe Id</mat-label>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_name_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="name"
                        [(ngModel)]="modifyBeer.editValues.name"
                        matInput />
                    <mat-label>Name</mat-label>
                    <mat-error *ngIf="modifyBeerForm['name'].errors && modifyBeerForm['name'].errors['requiredIfNoToolSelected']">
                        Name is required if not external brew tool is selected
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <textarea id="modify_description_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="description"
                        [(ngModel)]="modifyBeer.editValues.description"
                        matInput></textarea>
                    <mat-label>Description</mat-label>
                </mat-form-field>

                <mat-form-field appearance="fill" [hidden]="locations.length <= 1">
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="locationId" name="locationId" [(ngModel)]="modifyBeer.editValues.locationId">
                        <mat-option *ngFor="let location of locations" [value]="location.id">
                        {{location.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_style_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="style"
                        [(ngModel)]="modifyBeer.editValues.style"
                        matInput />
                    <mat-label>Style</mat-label>
                    <mat-error *ngIf="modifyBeerForm['style'].errors && modifyBeerForm['style'].errors['requiredIfNoToolSelected']">
                        Style is required if not external brew tool is selected
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_abv_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="abv"
                        [(ngModel)]="modifyBeer.editValues.abv"
                        matInput />
                    <mat-label>ABV</mat-label>
                    <mat-error *ngIf="modifyBeerForm['abv'].errors && modifyBeerForm['abv'].errors['requiredIfNoToolSelected']">
                        ABV is required if not external brew tool is selected
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_srm_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="srm"
                        [(ngModel)]="modifyBeer.editValues.srm"
                        matInput />
                    <mat-label>SRM</mat-label>
                    <mat-error *ngIf="modifyBeerForm['srm'].errors && modifyBeerForm['srm'].errors['requiredIfNoToolSelected']">
                        SRM is required if not external brew tool is selected
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_ibu_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="ibu"
                        [(ngModel)]="modifyBeer.editValues.ibu"
                        matInput />
                    <mat-label>IBU</mat-label>
                    <mat-error *ngIf="modifyBeerForm['ibu'].errors && modifyBeerForm['ibu'].errors['requiredIfNoToolSelected']">
                        IBU is required if not external brew tool is selected
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_untappd_id_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="untappdId"
                        [(ngModel)]="modifyBeer.editValues.untappdId"
                        matInput />
                    <mat-label>Untappd Id</mat-label>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_image_url_id_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="imgUrl"
                        [(ngModel)]="modifyBeer.editValues.imgUrl"
                        matInput />
                    <mat-label>Image URL</mat-label>
                    <button *ngIf="!isNilOrEmpty(modifyBeer.editValues.imgUrl)" matSuffix mat-icon-button aria-label="Preview image" (click)="openImagePreviewDialog(modifyBeer.editValues.imgUrl)">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                    <button matSuffix mat-icon-button aria-label="Select an existing image" (click)="openImageSelectorDialog(this.modifyBeer.editValues, 'imgUrl')">
                        <mat-icon>photo_library</mat-icon>
                    </button>
                    <button matSuffix mat-icon-button aria-label="Upload new image" (click)="openUploadDialog(this.modifyBeer.editValues, 'imgUrl')">
                        <mat-icon>upload</mat-icon>
                    </button>
                    <mat-error *ngIf="modifyBeerForm['imgUrl'].errors && modifyBeerForm['imgUrl'].errors['requiredIfImageTransitionsEnabled']">
                        Image URL is required if image transitions are enabled
                    </mat-error>
                </mat-form-field>

                <mat-checkbox id="modify_image_transition_enabled"
                    formControlName="imageTransitionsEnabled" 
                    [(ngModel)]="modifyBeer.editValues.imageTransitionsEnabled"
                    (change)="reRunBeerValidation()">Enable Image Transitions?</mat-checkbox>
                
                <div *ngIf="modifyBeer.editValues.imageTransitionsEnabled">
                    <mat-form-field appearance="fill" class="modify-field fs-lg">
                        <input id="modify_empty_image_url_id_input"
                            [disabled]="processing"
                            class="dp-textfield--input"
                            formControlName="emptyImgUrl"
                            [(ngModel)]="modifyBeer.editValues.emptyImgUrl"
                            matInput />
                        <mat-label>Empty Keg Image URL</mat-label>
                        <button *ngIf="!isNilOrEmpty(modifyBeer.editValues.emptyImgUrl)" matSuffix mat-icon-button aria-label="Preview image" (click)="openImagePreviewDialog(modifyBeer.editValues.emptyImgUrl)">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                        <button matSuffix mat-icon-button aria-label="Select an existing image" (click)="openImageSelectorDialog(this.modifyBeer.editValues, 'emptyImgUrl')">
                            <mat-icon>photo_library</mat-icon>
                        </button>
                        <button matSuffix mat-icon-button aria-label="Upload new image" (click)="openUploadDialog(this.modifyBeer.editValues, 'emptyImgUrl')">
                            <mat-icon>upload</mat-icon>
                        </button>
                        <mat-error *ngIf="modifyBeerForm['emptyImgUrl'].errors && modifyBeerForm['emptyImgUrl'].errors['requiredIfImageTransitionsEnabled']">
                            Empty image URL is required if image transitions are enabled
                        </mat-error>
                    </mat-form-field>

                    <div class="section">
                        <button mat-raised-button color="primary" class="add-transition" aria-label="Add new Image Transition" (click)="addImageTransition()" [disabled]="!areImageTransitionsValid">
                            <mat-icon>add</mat-icon> Add Image Transition
                        </button>

                        <div class="items" *ngFor="let imageTransition of this.modifyBeer.imageTransitions">
                            <mat-form-field appearance="fill" class="modify-field fs-small">
                                <input id="modify_changePercent_input_{{imageTransition.changePercent}}"
                                    [disabled]="processing"
                                    class="dp-textfield--input fs-small"
                                    [(ngModel)]="imageTransition.editValues.changePercent"
                                    [ngModelOptions]="{standalone: true}"
                                    required
                                    matInput
                                    type="number" 
                                    [max]="99"
                                    [min]="1" />
                                <mat-label>Change after %</mat-label>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="modify-field fs-med">
                                <input id="modify_image_transition_image_input_{{imageTransition.changePercent}}"
                                    [disabled]="processing"
                                    class="dp-textfield--input fs-med"
                                    [(ngModel)]="imageTransition.editValues.imgUrl"
                                    [ngModelOptions]="{standalone: true}"
                                    required
                                    matInput />
                                <mat-label>Empty Keg Image URL</mat-label>
                                <button *ngIf="!isNilOrEmpty(imageTransition.editValues.imgUrl)" matSuffix mat-icon-button aria-label="Preview image" (click)="openImagePreviewDialog(imageTransition.editValues.imgUrl)">
                                    <mat-icon>open_in_new</mat-icon>
                                </button>
                                <button matSuffix mat-icon-button aria-label="Select an existing image" (click)="openImageSelectorDialog(imageTransition.editValues, 'imgUrl')">
                                    <mat-icon>photo_library</mat-icon>
                                </button>
                                <button matSuffix mat-icon-button aria-label="Upload new image" (click)="openUploadDialog(imageTransition.editValues, 'imgUrl')">
                                    <mat-icon>upload</mat-icon>
                                </button>
                            </mat-form-field>
                            <button mat-icon-button color="warn" aria-label="Delete image transition" (click)="removeImageTransitionItemFromList(imageTransition)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="brewfather-details" *ngIf="editing && modifyBeer.externalBrewingTool === 'brewfather' && !isNilOrEmpty(modifyBeer.externalBrewingToolMeta)">
            <div class="heading"><p>Brewfather Details</p></div>
            <p><span class="brewfather-details-title">Name:</span>{{modifyBeer.getExtToolVal("name")}}</p>
            <p><span class="brewfather-details-title">Description:</span>{{modifyBeer.getExtToolVal("description")}}</p>
            <p><span class="brewfather-details-title">Style:</span>{{modifyBeer.getExtToolVal("style")}}</p>
            <p><span class="brewfather-details-title">ABV:</span>{{modifyBeer.getExtToolVal("abv")}}</p>
            <p><span class="brewfather-details-title">SRM:</span>{{modifyBeer.getExtToolVal("srm")}}</p>
            <p><span class="brewfather-details-title">IBU:</span>{{modifyBeer.getExtToolVal("ibu")}}</p>
            <p><span class="brewfather-details-title">Image:</span><span *ngIf="isNilOrEmpty(modifyBeer.getExtToolVal('imgUrl'))" class="hint-value">Not set</span></p>
            <span *ngIf="!isNilOrEmpty(modifyBeer.getExtToolVal('imgUrl'))">
                <img src="{{modifyBeer.getExtToolVal('imgUrl')}}" class="beer-image-preview" />
            </span>
        </div>
    </div>
    
    <div class="modify-actions" *ngIf="adding">
        <button mat-raised-button color="primary" (click)="createBeer()" [disabled]="!modifyBeerFormGroup.valid || processing || !areImageTransitionsValid">
            <mat-icon *ngIf="processing"><mat-spinner diameter="20"></mat-spinner></mat-icon>
            <mat-icon *ngIf="!processing">save</mat-icon> Create
        </button>
        <button mat-raised-button color="warn" (click)="cancelAddBeer()" [disabled]="processing"><mat-icon>cancel</mat-icon> Cancel</button>
    </div>
    <div class="modify-actions" *ngIf="editing">
        <button mat-raised-button color="primary" (click)="saveBeer()" [disabled]="!hasBeerChanges || !modifyBeerFormGroup.valid || processing || !areImageTransitionsValid">
            <mat-icon *ngIf="processing"><mat-spinner diameter="20"></mat-spinner></mat-icon>
            <mat-icon *ngIf="!processing">save</mat-icon> Save
        </button>
        <button mat-raised-button color="warn" (click)="cancelEditBeer()" [disabled]="processing"><mat-icon>cancel</mat-icon> Cancel</button>
        <button mat-raised-button (click)="addBatch(modifyBeer)"><mat-icon>add</mat-icon> Add Batch</button>
    </div>

    <div *ngIf="editing" class="beer-batches">
        <div class="heading">
            <p>Batches</p>
        </div>
        <div class="batch-list" *ngIf="beerBatches[this.modifyBeer.id].length > 0">
            <table mat-table [dataSource]="beerBatches[this.modifyBeer.id]" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="tapped">
                    <th mat-header-cell *matHeaderCellDef> Tapped? </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="is-tapped" *ngIf="isBatchTapped(element)">
                            <ng-template #popupNameDetails>
                                <div class="associated-taps" *ngFor="let tap of element.taps">
                                    <p>Description: {{ tap.description }}</p>
                                    <p>Tap Number: {{ tap.tapNumber }}</p>
                                    <p>Location: {{ tap.location ? tap.location.description : "UNKNOWN" }}</p>
                                </div>
                            </ng-template>
                            <mat-icon [ngbPopover]="popupNameDetails" popoverTitle="Associated taps" triggers="mouseenter:mouseleave" placement="right">check</mat-icon>
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="externalBrewingTool">
                    <th mat-header-cell *matHeaderCellDef > External Tool </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ _.isNil(element.externalBrewingTool) ? "" : element.externalBrewingTool }}
                            <span *ngIf="!_.isEmpty(_.get(element.externalBrewingToolMeta, 'details'))">
                                <ng-template #popupExternalBrewingToolMeta>
                                    <div>
                                        <p><strong>Batch ID</strong>: {{_.get(element.externalBrewingToolMeta, "batchId")}}</p>
                                        <p *ngFor="let property of _.get(element.externalBrewingToolMeta, 'details') | keyvalue">
                                            <strong>{{property.key}}</strong>: {{property.value}}
                                        </p>
                                    </div>
                                </ng-template>
                                <a href="{{ getBatchLink(element) }}" target="_blank" [ngbPopover]="popupExternalBrewingToolMeta" popoverTitle="External Tool Metadata" triggers="mouseenter:mouseleave" placement="right"><mat-icon>info</mat-icon></a>
                            </span>
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="batchNumber">
                    <th mat-header-cell *matHeaderCellDef> Batch Number </th>
                    <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.batchNumber) ? 'imported-value' : '' }}">{{element.getBatchNumber()}}</span></td>
                </ng-container>
            
                <ng-container matColumnDef="abv">
                    <th mat-header-cell *matHeaderCellDef> ABV </th>
                    <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.abv) ? 'imported-value' : '' }}">{{element.getAbv()}}</span></td>
                </ng-container>
            
                <ng-container matColumnDef="ibu">
                    <th mat-header-cell *matHeaderCellDef> IBU </th>
                    <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.ibu) ? 'imported-value' : '' }}">{{element.getIbu()}}</span></td>
                </ng-container>
            
                <ng-container matColumnDef="srm">
                    <th mat-header-cell *matHeaderCellDef> SRM </th>
                    <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.srm) ? 'imported-value' : '' }}">{{element.getSrm()}}</span></td>
                </ng-container>

                <ng-container matColumnDef="brewDate">
                    <th mat-header-cell *matHeaderCellDef> Brew Date </th>
                    <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.brewDate) ? 'imported-value' : '' }}">{{element.getBrewDate()}}</span></td>
                </ng-container>

                <ng-container matColumnDef="kegDate">
                    <th mat-header-cell *matHeaderCellDef> Keg Date </th>
                    <td mat-cell *matCellDef="let element"><span class="{{ isNilOrEmpty(element.kegDate) ? 'imported-value' : '' }}">{{element.getKegDate()}}</span></td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div class="actions">
                            <button mat-icon-button color="primary" aria-label="Edit batch" (click)="editBatch(element, modifyBeer)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" aria-label="Archive batch" (click)="archiveBatch(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div> 
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedBatchColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedBatchColumns;"></tr>
            </table>
        </div>
    </div>
</div>

<div class="beers-modify" *ngIf="(editingBatch || addingBatch)">
    <div class="heading">
        <p> {{ addingBatch ? "Add" : "Edit" }} Batch for {{selectedBatchBeer.getName()}}</p>
    </div>
    <div class="modify-form">
        <form [formGroup]="modifyBatchFormGroup">
            <fieldset>
                <mat-form-field appearance="fill">
                    <mat-label>External Brew Tool</mat-label>
                    <mat-select formControlName="externalBrewingTool" name="externalBrewingTool" [(ngModel)]="modifyBatch.editValues.externalBrewingTool" (selectionChange)="batchBrewToolChanges($event);">
                        <mat-option value="-1">-- None --</mat-option>
                        <mat-option *ngFor="let tool of externalBrewingTools" [value]="tool">
                        {{tool}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field" *ngIf="modifyBatch.editValues.externalBrewingTool === 'brewfather'">
                    <input id="modify_brewfather_batch_id_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="brewfatherBatchId"
                        [(ngModel)]="modifyBatch.editValues.externalBrewingToolMeta.batchId"
                        matInput />
                    <mat-label>Brewfather Batch Id</mat-label>
                </mat-form-field>
                
                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_batch_number_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="batchNumber"
                        [(ngModel)]="modifyBatch.editValues.batchNumber"
                        matInput />
                    <mat-label>Batch Number</mat-label>
                    <mat-error *ngIf="modifyBatchForm['batchNumber'].errors && modifyBatchForm['batchNumber'].errors['requiredIfNoToolSelected']">
                        ABV is required if not external brew tool is selected
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_abv_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="abv"
                        [(ngModel)]="modifyBatch.editValues.abv"
                        matInput />
                    <mat-label>ABV</mat-label>
                    <mat-error *ngIf="modifyBatchForm['abv'].errors">
                        Value needs to be a number (decimals allowed)
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_srm_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="srm"
                        [(ngModel)]="modifyBatch.editValues.srm"
                        matInput />
                    <mat-label>SRM</mat-label>
                    <mat-error *ngIf="modifyBatchForm['srm'].errors">
                        Value needs to be a number
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_ibu_input"
                        [disabled]="processing"
                        class="dp-textfield--input"
                        formControlName="ibu"
                        [(ngModel)]="modifyBatch.editValues.ibu"
                        matInput />
                    <mat-label>IBU</mat-label>
                    <mat-error *ngIf="modifyBatchForm['ibu'].errors">
                        Value needs to be a number
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Brew Date</mat-label>
                    <input matInput [matDatepicker]="brewDatePicker" formControlName="brewDate" [(ngModel)]="modifyBatch.editValues.brewDateObj" [disabled]="processing">
                    <mat-datepicker-toggle matSuffix [for]="brewDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #brewDatePicker></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Keg Date</mat-label>
                    <input matInput [matDatepicker]="kegDatePicker" formControlName="kegDate" [(ngModel)]="modifyBatch.editValues.kegDateObj" [disabled]="processing">
                    <mat-datepicker-toggle matSuffix [for]="kegDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #kegDatePicker></mat-datepicker>
                </mat-form-field>
            </fieldset>
        </form>
        <div class="brewfather-details" *ngIf="editing && modifyBatch.externalBrewingTool === 'brewfather' && !isNilOrEmpty(modifyBatch.externalBrewingToolMeta)">
            <div class="heading"><p>Brewfather Details</p></div>
            <p><span class="brewfather-details-title">Batch Number:</span>{{modifyBatch.getExtToolVal("batchNumber")}}</p>
            <p><span class="brewfather-details-title">ABV:</span>{{modifyBatch.getExtToolVal("abv")}}</p>
            <p><span class="brewfather-details-title">SRM:</span>{{modifyBatch.getExtToolVal("srm")}}</p>
            <p><span class="brewfather-details-title">IBU:</span>{{modifyBatch.getExtToolVal("ibu")}}</p>
            <p><span class="brewfather-details-title">Brew Date:</span>{{modifyBatch.getDateDisplay(modifyBatch.getExtToolVal("brewDate"))}}</p>
            <p><span class="brewfather-details-title">Keg Date:</span>{{modifyBatch.getDateDisplay(modifyBatch.getExtToolVal("kegDate"))}}</p>
        </div>
    </div>
    
    <div class="modify-actions" *ngIf="addingBatch">
        <button mat-raised-button color="primary" (click)="createBatch()" [disabled]="!modifyBatchFormGroup.valid || processing || !areImageTransitionsValid">
            <mat-icon *ngIf="processing"><mat-spinner diameter="20"></mat-spinner></mat-icon>
            <mat-icon *ngIf="!processing">save</mat-icon> Create
        </button>
        <button mat-raised-button color="warn" (click)="cancelAddBatch()" [disabled]="processing"><mat-icon>cancel</mat-icon> Cancel</button>
    </div>
    <div class="modify-actions" *ngIf="editingBatch">
        <button mat-raised-button color="primary" (click)="saveBatch()" [disabled]="!hasBatchChanges || !modifyBatchFormGroup.valid || processing || !areImageTransitionsValid">
            <mat-icon *ngIf="processing"><mat-spinner diameter="20"></mat-spinner></mat-icon>
            <mat-icon *ngIf="!processing">save</mat-icon> Save
        </button>
        <button mat-raised-button color="warn" (click)="cancelEditBatch()" [disabled]="processing"><mat-icon>cancel</mat-icon> Cancel</button>
    </div>
</div>