.beers-view {
    display: flex;
    flex-direction: column;

    .heading {
        order: 1;
    }

    .beer-view-filters {
        order: 2;
        padding: 0px 0px 12px;
        display: flex;
        flex-direction: row;

        * {
            margin-right: 12px;
        }

        .beer-view-actions {
            height: fit-content;
        }
    }
    
    .beers-list {
        order: 3;

        table {
            .mat-header-cell,
            .mat-cell {
                padding: 2px 8px;
            }
        
            .actions {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

    }
}

.beers-modify {
    display: flex;
    flex-direction: column;

    .heading {
        order: 1;
    }

    .modify-form {
        order: 2;
    }

    .modify-actions {
        order: 3;
        
        button {
            margin: 2px 6px
        }    
    } 
}

.beers-modify fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    width: 400px;
}

.beer-image-preview {
    max-width: 200px;
    height: auto;
}

.imported-value {
    color: gray;
    font-style: italic;
}