.taps-view {
    display: flex;
    flex-direction: column;

    .heading {
        order: 1;
    }

    .tap-view-filters {
        order: 2;
        padding: 0px 0px 12px;
        display: flex;
        flex-direction: row;

        * {
            margin-right: 12px;
        }

        .tap-view-actions {
            height: fit-content;
        }
    }
    
    .taps-list {
        order: 3;

        table {
            .mat-header-cell,
            .mat-cell {
                padding: 2px 8px;
            }
        
            .actions {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

    }
}

.taps-modify {
    display: flex;
    flex-direction: column;

    .heading {
        order: 1;
    }

    .modify-form {
        order: 2;
    }

    .modify-actions {
        order: 3;
        
        button {
            margin: 2px 6px
        }    
    } 
}

.taps-modify fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    width: 400px;
}