<div class="heading"><p>Management Dashboard</p></div>
<div class="nav">
  @if (admin) {
    <button mat-raised-button color="primary" (click)="goto('manage/locations')"><mat-icon>store</mat-icon> Manage Locations</button>
  }
  <button mat-raised-button color="primary" (click)="goto('manage/taps')"><mat-icon>kitchen</mat-icon> Manage Taps</button>
  <button mat-raised-button color="primary" (click)="goto('manage/beers')"><mat-icon>local_drink</mat-icon> Manage Beers</button>
  <button mat-raised-button color="primary" (click)="goto('manage/beverages')"><mat-icon>local_drink</mat-icon> Manage Beverages</button>
  <button mat-raised-button color="primary" (click)="goto('manage/sensors')"><mat-icon>sensors</mat-icon> Manage Sensors</button>
  @if (admin) {
        <button mat-raised-button color="primary" (click)="goto('manage/plaato_kegs')"><mat-icon>gps_fixed</mat-icon> Plaato Kegs</button>
      }
  @if (admin) {
    <button mat-raised-button color="primary" (click)="goto('manage/users')"><mat-icon>group</mat-icon> Manage Users</button>
  }
</div>