<div class="header-content">
    <div class="header-title">
        <a class="title" href="/">Brewhouse Manager</a>
    </div>
    <div class="header-nav">
        <span tabindex="-1">
            <button id="nav_toggle_user_menu"
                mat-mini-fab
                [matMenuTriggerFor]="navMenu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #navMenu="matMenu" xPosition="before" class="override">
                <button mat-menu-item id="nav_signed_in_as" disabled *ngIf="userInfo">Signed in as {{ name }}</button>
                <button mat-menu-item id="nav_dashboard" (click)="goto('')"><mat-icon>home</mat-icon>Home</button>
                <button mat-menu-item [matMenuTriggerFor]="managementOptions"><mat-icon>build</mat-icon>Manage</button>
                <button mat-menu-item id="nav_account_profile" (click)="goto('me')" *ngIf="userInfo"><mat-icon>person</mat-icon>Account Profile</button>
                <button mat-menu-item id="nav_sign_out" (click)="logout()" *ngIf="userInfo">Sign Out</button>
            </mat-menu>

            <mat-menu #managementOptions="matMenu">
                <button mat-menu-item id="nav_manage_dashboard" (click)="goto('manage')"><mat-icon>home</mat-icon>Dashboard</button>
                <button mat-menu-item id="nav_manage_locations" (click)="goto('manage/locations')"><mat-icon>store</mat-icon>Locations</button>
                <button mat-menu-item id="nav_manage_taps" (click)="goto('manage/taps')"><mat-icon>kitchen</mat-icon>Taps</button>
                <button mat-menu-item id="nav_manage_beers" (click)="goto('manage/beers')"><mat-icon>local_drink</mat-icon>Beers</button>
                <button mat-menu-item id="nav_manage_sensors" (click)="goto('manage/sensors')"><mat-icon>gps_fixed</mat-icon>Sensors</button>
                <button mat-menu-item id="nav_manage_users" (click)="goto('manage/users')"><mat-icon>group</mat-icon>Users</button>
            </mat-menu>
        </span>
    </div>
</div>