@use 'sass:color';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #2ccf6d;
}

/****************************************************************************
*
* 404 Error styles
*
* adopted from https://codepen.io/kdbkapsere/pen/oNXLbqQ
*
****************************************************************************/

.not-found {
  ul {
    list-style-type: none;
    padding-inline-start: 35px;
  }
  svg {
    width: 100%;
    visibility: hidden;
  }
  h1 {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    body {
      display: block;
    }
    .container {
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }
}

/****************************************************************************
*
* 500 Error styles
*
* adopted from https://codepen.io/genarocolusso/pen/gOpyYdV
*
****************************************************************************/

.error {
  .main-error-page {
    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .error-title {
    max-width: 529px;
    font-family: Roboto;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b62;
    margin-bottom: 16px;
  }

  .error-subtitle {
    max-width: 568px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b62;
    margin-bottom: 24px;
  }
  svg {
    margin-bottom: 16px;
  }
}

.pao-atras {
  animation: leftright 1s alternate infinite;
  transform-origin: center;
}
.pao-frente {
  animation: leftright 1s 0.3s alternate infinite;
  transform-origin: center;
}

.olho-esq {
  animation: sad 2s alternate infinite;
  transform-origin: center;
}

.olho-dir {
  animation: sad 2s alternate infinite;
  transform-origin: center;
}
.boca {
  animation: sad 2s alternate infinite;
  transform-origin: center;
}
.raios {
  -webkit-animation: flicker-4 4s linear infinite both;
  animation: flicker-4 4s linear infinite both;
}
.tomada {
  -webkit-animation: vibrate-1 3s linear infinite both;
  animation: vibrate-1 3s linear infinite both;
}
.fio-500 {
  -webkit-animation: vibrate-1 3s linear infinite both;
  animation: vibrate-1 3s linear infinite both;
}
.fio {
  -webkit-animation: vibrate-1 3s linear infinite both;
  animation: vibrate-1 3s linear infinite both;
}

@keyframes scales {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}

/* ----------------------------------------------
* Generated by Animista on 2020-4-1 14:58:16
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation flicker-4
* ----------------------------------------
*/
@-webkit-keyframes flicker-4 {
  0%,
  100% {
    opacity: 1;
  }
  31.98% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 1;
  }
  36.98% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 1;
  }
  67.98% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 1;
  }
  95.98% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 1;
  }
  98.98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 1;
  }
}
@keyframes flicker-4 {
  0%,
  100% {
    opacity: 1;
  }
  31.98% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 1;
  }
  36.98% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 1;
  }
  67.98% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 1;
  }
  95.98% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 1;
  }
  98.98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 1;
  }
}

/* ----------------------------------------------
* Generated by Animista on 2020-4-1 15:17:57
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation vibrate-1
* ----------------------------------------
*/
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* ----------------------------------------------
* Generated by Animista on 2020-4-1 15:42:45
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation wobble-ver-right
* ----------------------------------------
*/
@-webkit-keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}

@keyframes sad {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(10deg) rotateY(5deg);
  }
}

@keyframes leftright {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

/****************************************************************************
*
* 403 Error styles
*
* adopted from https://codepen.io/anjanas_dh/pen/ZMqKwb
*
****************************************************************************/

$black: #000;
$semi-black: #1a2130;
$white: #fff;
$dress: #ededed;
$dress-dark: color.adjust($dress, $lightness: -10%);
$sword: #e6e6e6;
$staff: #bf5507;
$skin: #ffd8ad;
$hair: #c2beb5;
$hair-dark: color.adjust($hair, $lightness: -10%);
$lips: pink;
$fire: black, #6c1305, #de8531, #efac41;
$fire-reverse: #efac41, #de8531, #6c1305, black;

@keyframes floating {
  to {
    top: 1.5rem;
  }
}

.forbidden {
  .message {
    max-width: 700px;
    margin: 5rem auto 0 auto;
    text-align: center;
  }

  .gandalf {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    top: 1rem;
    animation: floating 1s infinite alternate ease-in-out;
    div {
      position: absolute;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 400px;
      background-color: $semi-black;
      border-radius: 50%;
    }
    .fireball {
      bottom: -10px;
      left: 50px;
      width: 300px;
      height: 100px;
      border-radius: 50%;
      background: radial-gradient($fire-reverse);
      border: 5px solid $black;
    }
    .skirt {
      bottom: 50px;
      left: 100px;
      border-bottom: 230px solid $dress;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      filter: drop-shadow(0 0 6px $dress-dark);

      &::before {
        content: '';
        position: absolute;
        background-color: $dress;
        width: 100px;
        height: 21px;
        top: 230px;
        left: 0px;
        border-bottom-right-radius: 180%;
        border-bottom-left-radius: 100%;
      }
      &::after {
        content: '';
        position: absolute;
        background-color: $dress;
        width: 100px;
        height: 28px;
        top: 230px;
        left: -100px;
        border-bottom-right-radius: 80%;
        border-bottom-left-radius: 180%;
      }
    }
    .sleeves {
      &::before,
      &::after {
        // sleeves
        content: '';
        position: absolute;
        border-bottom: 70px solid $dress;
        filter: drop-shadow(0 0 6px $dress-dark);
      }
      &::before {
        // sleeve left
        top: 130px;
        left: 191px;
        border-left: 100px solid transparent;
        border-right: 40px solid transparent;
        transform: rotate(-34deg);
      }
      &::after {
        // sleeve right
        top: 127px;
        left: 70px;
        border-left: 40px solid transparent;
        border-right: 100px solid transparent;
        transform: rotate(41deg);
      }
    }
    .shoulders {
      background-color: $dress;
      border-radius: 50%;
      width: 100px;
      height: 130px;
      left: 150px;
      top: 120px;
      .hand {
        width: 33px;
        height: 26px;
        border-radius: 50%;
        background-color: $skin;
        top: -6px;
      }
      .left {
        left: -70px;
        transform: rotate(-20deg);
        &::after {
          // sword
          content: '';
          position: absolute;
          background-color: #e6e6e6;
          width: 126px;
          height: 8px;
          border-radius: 4px;
          transform: rotate(-105deg);
          transform-origin: bottom;
          top: -48px;
          left: -56px;
        }
      }
      .right {
        right: -70px;
        transform: rotate(20deg);
        &::after {
          // staff
          content: '';
          position: absolute;
          background-color: $staff;
          width: 250px;
          height: 5px;
          border-radius: 2.5px;
          transform: rotate(-78deg);
          transform-origin: left;
          bottom: -100px;
          left: 0;
        }
      }
    }
    .head {
      width: 80px;
      height: 90px;
      top: 80px;
      left: 160px;
      background-color: #ffd8ad;
      border-radius: 50%;

      &::before,
      &::after {
        // eyes
        content: '';
        position: absolute;
        background-color: $black;
      }

      &::before {
        width: 13px;
        height: 5px;
        border-radius: 3px;
        top: 42px;
        left: 22px;
        transform: rotate(19deg);
      }
      &::after {
        width: 13px;
        height: 5px;
        border-radius: 3px;
        top: 42px;
        right: 22px;
        transform: rotate(-19deg);
      }

      .hair {
        width: 70px;
        height: 30px;
        background-color: $hair;
        border-radius: 50%;
        top: 0px;
        left: 5px;

        &::before,
        &::after {
          // hair sides
          content: '';
          position: absolute;
          background-color: $hair;
          filter: drop-shadow(2px 5px 0 $hair-dark);
        }

        &::before {
          // hair left
          top: 13px;
          left: -16px;
          width: 25px;
          height: 100px;
          border-top-left-radius: 34px;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 100px;
          border-bottom-right-radius: 20px;
          transform: rotate(8deg);
        }
        &::after {
          // hair right
          top: 13px;
          right: -16px;
          width: 25px;
          height: 100px;
          border-top-left-radius: 15px;
          border-top-right-radius: 34px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 100px;
          transform: rotate(-10deg);
        }
      }
      .beard {
        top: 64px;
        left: 5px;
        border-top: 80px solid $hair;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-radius: 30px;
        filter: drop-shadow(2px 5px 0 $hair-dark);

        &::before {
          // mouth
          content: '';
          position: absolute;
          background-color: $lips;
          width: 20px;
          height: 5px;
          border-radius: 40%;
          top: -70px;
          left: -9px;
        }
      }
    }
  }
}
