.locations-view {
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;

    p {
      margin: 0;
    }

    .heading-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
  }

  .location-view-actions {
    padding: 0px 0px 12px;
  }

  .locations-list {
    table {
      .mat-mdc-header-cell,
      .mat-mdc-cell {
        padding: 2px 8px;
      }

      .actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.locations-add {
  display: flex;
  flex-direction: column;

  .heading {
    order: 1;
  }

  .add-form {
    order: 2;
  }

  .add-actions {
    order: 3;

    button {
      margin: 2px 6px;
    }
  }
}

.locations-add fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 400px;
}

button.refresh {
  min-width: 24px;
  padding-left: 12px;
  padding-right: 12px;

  .mat-icon {
    margin: 0px !important;
  }
}
