<div class="file-uploader-container">
  <div class="dropzone" app-dnd (fileDropped)="onFileDropped($event)" [disabled]="uploading">
    <input
      class="{{ uploading ? 'disabled' : 'enabled' }}"
      type="file"
      #fileDropRef
      id="fileDropRef"
      (change)="fileBrowseHandler($event)"
      [disabled]="uploading"
    />
    <img src="assets/img/dnd/ic-upload-file.svg" alt="" />
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label class="{{ uploading ? 'disabled' : 'enabled' }}" for="fileDropRef">
      Browse for file
    </label>
  </div>
  <div class="files-list">
    @for (file of _.values(files); track file) {
      <div class="single-file">
        <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file" />
        <div class="info">
          <h4 class="name{{ file.hasError ? ' error' : '' }}">
            {{ file?.name }}
          </h4>
          <p class="size">
            {{ formatBytes(file?.size) }}
          </p>
          @if (!file.hasError) {
            <mat-progress-bar mode="determinate" [value]="file?.progress"></mat-progress-bar>
          }
          @if (file.hasError) {
            <div class="error-message">Error: {{ file.errorMessage }}</div>
          }
        </div>
      </div>
    }
  </div>
</div>
